IF OBJECT_ID('CUATROGDD2018.SP_GetAllHoteles') IS NOT NULL
    DROP PROCEDURE CUATROGDD2018.SP_GetAllHoteles
GO
CREATE PROCEDURE [CUATROGDD2018].[SP_GetAllHoteles]
AS
BEGIN
	SELECT * FROM CUATROGDD2018.Hoteles
	ORDER BY nombre
END