IF OBJECT_ID('CUATROGDD2018.SP_GetHotelPorID') IS NOT NULL
    DROP PROCEDURE CUATROGDD2018.SP_GetHotelPorID
GO
CREATE PROCEDURE [CUATROGDD2018].[SP_GetHotelPorID]
	@idHotel int
AS
BEGIN
	SELECT * FROM [CUATROGDD2018].[Hoteles] H 
	WHERE H.id_hotel = @idHotel
END
GO
