IF OBJECT_ID('CUATROGDD2018.SP_GetAllFuncionalidades') IS NOT NULL
    DROP PROCEDURE CUATROGDD2018.SP_GetAllFuncionalidades
GO
CREATE PROCEDURE [CUATROGDD2018].[SP_GetAllFuncionalidades]
AS
	SELECT * FROM CUATROGDD2018.Funcionalidades
GO